<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="users.length > 0">
    <ion-row>
      <ion-col size="4"><strong>Name</strong></ion-col>
      <ion-col size="4"><strong>Email</strong></ion-col>
      <ion-col size="4"><strong>Actions</strong></ion-col>
    </ion-row>
    
    <ion-row *ngFor="let user of paginatedUsers; let i = index">
      <ion-col size="4">{{ user.nombre }} {{ user.apellidos }}</ion-col>
      <ion-col size="4">{{ user.email }}</ion-col>
      <ion-col size="4">
        <ion-button (click)="deleteUser(i)">Delete</ion-button>
        <ion-button (click)="viewUserDetails(i)">See user</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer *ngIf="users.length > 0">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()" [disabled]="currentPage * usersPerPage >= users.length">Next</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

  <div *ngIf="users.length === 0" class="no-users">
    <p>No users found.</p>
  </div>
  <ion-button expand="full" (click)="downloadPDF()">Download as PDF</ion-button>
  <ion-button expand="full" (click)="downloadExcel()">Download as Excel</ion-button>
</ion-content>
